@page "/addStudent"
@inherits AddStudentBase


<div class="border">
    <div class="card-header">
        <h5>Student Grade Form</h5>
    </div>
    <div class="card-body">
        <EditForm Model="Student">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="SubjectName" class="form-label">Student Id Number</label>
                <InputText @bind-Value="Student.SchoolIdNumber" class="form-control" placeholder="Student ID Number" />
                <ValidationMessage For="() => Student.SchoolIdNumber" />
            </div>
        </EditForm>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button type="button" class="btn btn-outline-info btn-block" @onclick="CreateStudentGrade" style="font-weight: bold">Create</button>
            <button type="button" class="btn btn-outline-info btn-block" @onclick="Cancel" style="font-weight: bold">Cancel</button>
        </div>
    </div>
</div>


