<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorStudentGradeCalculatorClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listCourseCredits">
                <span class="oi oi-beaker" aria-hidden="true"></span> CourseCredits
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listCourseDetails">
                <span class="oi oi-battery-full" aria-hidden="true"></span> CourseDetails
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listExamms">
                <span class="oi oi-basket" aria-hidden="true"></span> Examms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listHomeWorks">
                <span class="oi oi-badge" aria-hidden="true"></span> HomeWorks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listMidterms">
                <span class="oi oi-aperture" aria-hidden="true"></span> MidTerms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listOverallGrades">
                <span class="oi oi-briefcase" aria-hidden="true"></span> OverallGrades
            </NavLink>
        </li>        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listStudentGrades">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Results
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="studentSnapshotResults">
                <span class="oi oi-signpost" aria-hidden="true"></span> Snapshot Results
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
